$theme-colors: (
  "LightBlue": rgba(121, 185, 242, 1),
  "Blue": rgba(121, 151, 242, 1),
  "DarkBlue": rgba(79, 104, 242, 1),
  "Yellow": rgba(242, 159, 4, 1),
  "Green": rgb(0, 130, 33),
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// #income_canva {
//   width: 150px;
//   height: 150px;
// }

main {
  background-color: rgb(79, 97, 197);
  min-height: 100vh;
}

.navBar-Container {
  background-color: rgb(39, 27, 128);

  button {
    background-color: rgb(39, 27, 128);

    &:hover {
      background-color: rgb(79, 97, 197);
    }
  }
}

.colorBtnAgregar {
  background-color: rgb(39, 27, 128);
  max-width: 150px;
}

.containerGraphicosDiv {
  -webkit-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  box-shadow: 6px 6px 4px -1px rgba(19, 19, 19, 0.474);
  min-height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.containerGraphicosDivExc {
  -webkit-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  box-shadow: 6px 6px 4px -1px rgba(19, 19, 19, 0.474);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heandingExcedent {
  position: absolute;
  top: 35%;
}
.user-img {
  width: 250px;
  height: 250px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #002cb0;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
