$theme-colors: (
  "LightBlue": rgba(121, 185, 242, 1),
  "Blue": rgba(121, 151, 242, 1),
  "DarkBlue": rgba(79, 104, 242, 1),
  "Yellow": rgba(242, 159, 4, 1),
  "Green": rgb(0, 130, 33),
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// #income_canva {
//   width: 150px;
//   height: 150px;
// }

#__next {
  background-color: rgb(79, 97, 197);
  min-height: 100vh;
  display: flex;

  main {
    flex-grow: 1;
  }
}
.background-general {
  background-color: rgb(79, 97, 197);
}
.navBar-Container {
  background-color: rgba(39, 27, 128, 0.316);
  width: 18%;

  nav {
    display: flex;
    flex-direction: column;

    ul {
      padding: 20px 0 0 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  button {
    background-color: rgb(39, 27, 128);

    &:hover {
      background-color: rgb(79, 97, 197);
    }
  }
}

.container-graphics {
  flex-grow: 1;
  padding: 5px;
}

.colorBtnAgregar {
  background-color: rgb(39, 27, 128);
  max-width: 150px;
}

.containerGraphicosDiv {
  -webkit-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  box-shadow: 6px 6px 4px -1px rgba(19, 19, 19, 0.474);
  min-height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerGraphicosDivExc {
  -webkit-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 6px 6px 4px -1px rgba(204, 204, 204, 1);
  box-shadow: 6px 6px 4px -1px rgba(19, 19, 19, 0.474);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heandingExcedent {
  position: absolute;
  top: 35%;
}

.user-img {
  width: 250px;
  height: 250px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #002cb0;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.flip-vertical-right {
  -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.divCard {
  max-width: 90%;
  display: flex;
  margin-left: 5%;
  margin-bottom: 5%;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.7rem;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(90deg, rgba(74, 78, 162, 1) 35%, rgba(84, 70, 154, 1) 35%, rgba(60, 64, 164, 1) 100%);
  padding: 0.5rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  background: linear-gradient(145deg, #584ba6, #4a3f8c);
  box-shadow: 6px 6px 11px #453b82,
    -6px -6px 11px #5f51b4;
}

@media (max-width: 767px) {
  .divCard {
    flex-direction: column;
    align-items: center;
  }
}

.user-card {
  width: 50%;
  height: 30%;
}

.user-card img {
  width: 70%;
  height: 100%;
}

.btnLogin {
  background: transparent;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  padding: 10px 20px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.btnLogin::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
  z-index: 1;
  transition: background 3s;
}

.btnLogin:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.cardLogin {
  width: 190px;
  padding: 1.9rem 1.2rem;
  text-align: center;
  background: #2a2b38;
}

/*Inputs*/
.fieldLogin {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #1f2029;
  border-radius: 4px;
  padding: .5em 1em;
}

.input-iconLogin {
  height: 1em;
  width: 1em;
  fill: #ffeba7;
}

.input-fieldLogin {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

/*Text*/
.titleLogin {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #f5f5f5;
}

/*Buttons*/
.btn-Login {
  margin: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all .3s ease-in-out;
}

.btn-linkLogin {
  color: #f5f5f5;
  display: block;
  font-size: .75em;
  transition: color .3s ease-out;
}

/*Hover & focus*/
.fieldLogin input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}

.btn-Login:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-linkLogin:hover {
  color: #ffeba7;
}